# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Krystian\Documents\GitHub\-Data-visualization---exercise-codes\LAB_02\Code_2_Lab's answer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
